<div class="librarian-page">
  <header>
      <div class="logo">
          <img src="../assets/images/220px-LNUTaclobanLogo-removebg-preview.png" alt="logo">
      </div>
      <!-- Add a new div for the text on the right side -->
      <div class="logo-text">
          <p><b>Library Management System</b></p>
      </div>
      <div class="back-arrow" onclick="goBack()">
          <img src="../assets/images/left-arrow (3).png" alt="Back Arrow">
      </div>
  
  <br>
  
  <div class="table-container"> 
  <h3 class="h3">Total List of Books</h3>
  <div class="table-wrapper">
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ISBN</th>
          <th scope="col">Book Name</th>
          <th scope="col">Author</th>
          <th scope="col">Publisher</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
        </tr>
  </thead>
      
      <tbody>
          <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
            <tr>
              <td>873985</td>
              <td>Dropeyes</td>
              <td>William Shakespeare</td>
              <td>Nikolai Tesla</td>
              <td>English</td>
              <td>169</td>
            </tr>
          
          
      </tbody>
    </table>

</div>

<script>
  function goBack() {
      window.history.back();
  }
</script>