<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
   
    
      

    
   
  </head>
  <body>
    <div class="login-page">
      <div class="wrapper-image-5">
        <img class="image-5-icon" alt="" src="../assets/images/2.jpg" />
      </div>
      <div class="f-r-a-m-eparent">
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <input class="frame-item" type="text" />

          <div class="frame-wrapper">
            <div class="library-management-system-parent">
              <div class="library-management-system">
                Library Management System
              </div>
              <div class="frame-container">
                <div class="image-38-parent">
                  <img
                    class="image-38-icon"
                    alt=""
                    src="../assets/images/4.png"
                  />

                  <img
                    class="image-39-icon"
                    loading="eager"
                    alt=""
                    src="../assets/images/3.png"
                  />

                  <div class="wrapper-image-4">
                    <img
                      class="image-4-icon"
                      alt=""
                      src="../assets/images/1.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user-login-frame">
            <div class="frameusernamepassword">
              <div class="texttitlelogin">
                <div class="unlock-the-world">
                  Unlock the World of Knowledge
                </div>
              </div>
              <div class="access-a-treasure">
                Access a treasure trove of books and knowledge
              </div>
            </div>
            <div class="rectangleinputarea"></div>
          </div>
        </div>
      </div>
      <form class="f-r-a-m-euserinfo">
        <div class="login-button-frame">
          <div class="login">Login</div>
        </div>
        <input class="username-password" placeholder="Username" type="text" />

        <input class="username-password1" placeholder="Password" type="text" />

        <div class="password-input-frame" action="borrower">
          <button class="input-frames-container">
            <div class="input-frames-container-child"></div>
            <div class="login1">Login</div>
          </button>
        </div>