.image-5-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.059);
}
.librarian-page-child,
.wrapper-image-5 {
  position: absolute;
  width: 1440px;
  height: 1024px;
}
.wrapper-image-5 {
  top: 0;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.librarian-page-child {
  top: 44px;
  left: -5px;
}
.librarian-page-inner,
.librarian-page-item,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 392px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  width: 1048px;
  height: 163px;
}
.librarian-page-inner,
.rectangle-div {
  left: 1px;
  width: 1439px;
  height: 181px;
}
.rectangle-div {
  top: 181px;
  background-color: var(--color-white);
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
  width: 391px;
  height: 843px;
}
.librarian-page-child1 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-cornflowerblue-100);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 391px;
  height: 181px;
}
.image-6-icon {
  position: absolute;
  top: 41px;
  left: 22px;
  border-radius: var(--br-139xl);
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.la-rhaina-rabino,
.p {
  margin: 0;
}
.la-rhaina-rabino-container {
  position: absolute;
  top: 65px;
  left: 151px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  cursor: pointer;
}
.image-6-icon1 {
  position: absolute;
  top: 44px;
  left: 442px;
  border-radius: var(--br-139xl);
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.library-management-system {
  position: absolute;
  top: 65px;
  left: 599px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  display: inline-block;
  width: 668px;
  height: 59px;
}
.bad-blood {
  position: absolute;
  top: 749px;
  left: 872px;
  font-size: var(--font-size-mini);
}
.john-carreyrou,
.john-carreyrou1 {
  position: absolute;
  top: 772px;
  left: 869px;
  font-size: var(--font-size-smi);
  font-weight: 300;
}
.john-carreyrou1 {
  left: 1136px;
}
.bad-blood1,
.john-carreyrou2 {
  position: absolute;
  top: 749px;
  left: 602px;
  font-size: var(--font-size-mini);
}
.john-carreyrou2 {
  top: 772px;
  left: 599px;
  font-size: var(--font-size-smi);
  font-weight: 300;
}
.image-6-icon2,
.image-7-icon {
  position: absolute;
  top: 1156px;
  left: -6855px;
  width: 5726px;
  height: 1273px;
  object-fit: cover;
}
.image-6-icon2 {
  top: -1670px;
  left: -1568px;
  width: 576px;
  height: 290px;
}
.account-management,
.home {
  position: absolute;
  top: 294px;
  left: 122px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 103px;
  height: 52px;
}
.account-management {
  top: 416px;
  left: 3px;
  width: 394px;
  cursor: pointer;
}
.lost-and-damage {
  position: absolute;
  top: 531px;
  left: 44px;
  cursor: pointer;
}
.about,
.lost-and-damage,
.transaction {
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 304px;
  height: 52px;
}
.transaction {
  position: absolute;
  top: 649px;
  left: 88px;
  cursor: pointer;
}
.about {
  top: 750px;
  left: 122px;
}
.about,
.librarian-page-child2,
.logout {
  position: absolute;
  cursor: pointer;
}
.logout {
  top: 933px;
  left: 122px;
  font-weight: 600;
  color: #c22323;
}
.librarian-page-child2 {
  top: 285px;
  left: 464px;
  border-radius: var(--br-3xs) 0 var(--br-3xs) 0;
  background-color: var(--color-steelblue-200);
  width: 270px;
  height: 231px;
}
.account,
.registered {
  margin: 0;
}
.registered-account {
  position: absolute;
  top: 363px;
  left: 486px;
  font-weight: 600;
  color: var(--color-skyblue);
  text-align: center;
}
.librarian-page-child3 {
  position: absolute;
  top: 281px;
  left: 798px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-steelblue-200);
  width: 270px;
  height: 231px;
  cursor: pointer;
}
.of-books,
.total-list {
  margin: 0;
}
.total-list-of-container {
  position: absolute;
  top: 346px;
  left: 828px;
  font-weight: 600;
  color: var(--color-skyblue);
  text-align: center;
}
.librarian-page-child4 {
  position: absolute;
  top: 285px;
  left: 1130px;
  border-radius: 0 var(--br-3xs) 0 var(--br-3xs);
  background-color: var(--color-steelblue-200);
  width: 270px;
  height: 231px;
  cursor: pointer;
}
.available,
.books {
  margin: 0;
}
.available-books {
  position: absolute;
  top: 346px;
  left: 1157px;
  font-weight: 600;
  color: var(--color-skyblue);
  text-align: center;
}
.librarian-page-child5 {
  position: absolute;
  top: 604px;
  left: 467px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-steelblue-200);
  width: 270px;
  height: 231px;
  cursor: pointer;
}
.books1,
.total-issued {
  margin: 0;
}
.total-issued-books-container {
  position: absolute;
  top: 692px;
  left: 458px;
  font-weight: 600;
  color: var(--color-skyblue);
  text-align: center;
}
.librarian-page-child6 {
  position: absolute;
  top: 602px;
  left: 803px;
  border-radius: 0 var(--br-3xs) 0 var(--br-3xs);
  background-color: var(--color-steelblue-200);
  width: 270px;
  height: 231px;
  cursor: pointer;
}
.books2,
.returned,
.total {
  margin: 0;
}
.total-returned-books-container {
  position: absolute;
  top: 635px;
  left: 830px;
  font-weight: 600;
  color: var(--color-skyblue);
  text-align: center;
}
.librarian-page-child7 {
  position: absolute;
  top: 595px;
  left: 1139px;
  border-radius: var(--br-3xs) 0 var(--br-3xs) 0;
  background-color: var(--color-steelblue-200);
  width: 270px;
  height: 231px;
  cursor: pointer;
}
.books3,
.not-returned {
  margin: 0;
}
.not-returned-books {
  position: absolute;
  top: 662px;
  left: 1151px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: var(--color-skyblue);
  text-align: center;
}
.line-div {
  position: absolute;
  top: 845.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 327px;
  height: 1px;
}
.librarian-page {
  width: 100%;
  position: relative;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-smi: 13px;
  --font-size-mini: 15px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-lgi: 19px;
  --font-size-6xl: 25px;
  --font-size-7xl: 26px;
  --font-size-xl: 20px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-skyblue: #8dbcde;
  --color-steelblue-100: #335991;
  --color-steelblue-200: #19547e;
  --color-black: #000;
  --color-cornflowerblue-100: #39acff;
  --color-darkslateblue: #00275e;
  --color-dimgray-100: #6e6e6e;
  --color-dimgray-200: #545454;
  --color-dimgray-300: #505050;
  --color-gray-100: #878787;
  --color-gray-200: #7a7a7a;
  --color-gray-300: #787878;
  --color-gainsboro: #d9d9d9;
  --color-darkgray: #979797;
  --color-darkslategray: #204c6e;
  --color-lightgray: #d1d1d1;
  --color-aliceblue: #dfe9f0;
  --color-orange: #feb729;
  --color-red: #fe2929;
  --color-dodgerblue: #0081de;

  /* Gaps */
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-33xl: 52px;
  --gap-27xl: 46px;
  --gap-9xl: 28px;
  --gap-xl: 20px;
  --gap-6xl: 25px;
  --gap-lgi: 19px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-15xl: 34px;
  --gap-18xl: 37px;
  --gap-7xl: 26px;
  --gap-14xl: 33px;
  --gap-19xl: 38px;
  --gap-12xs: 1px;

  /* Paddings */
  --padding-14xl: 33px;
  --padding-12xs: 1px;
  --padding-23xl: 42px;
  --padding-2xl: 21px;
  --padding-mini: 15px;
  --padding-7xl: 26px;
  --padding-11xl: 30px;
  --padding-21xl: 40px;
  --padding-3xl: 22px;
  --padding-sm: 14px;
  --padding-lg: 18px;
  --padding-5xs: 8px;
  --padding-9xl: 28px;
  --padding-24xl: 43px;
  --padding-13xl: 32px;
  --padding-32xl: 51px;
  --padding-10xs: 3px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-lgi: 19px;
  --padding-16xl: 35px;
  --padding-37xl: 56px;
  --padding-43xl: 62px;
  --padding-38xl: 57px;
  --padding-46xl: 65px;
  --padding-18xl: 37px;
  --padding-6xl: 25px;
  --padding-5xl: 24px;
  --padding-17xl: 36px;
  --padding-xl: 20px;
  --padding-mid: 17px;
  --padding-base: 16px;
  --padding-smi: 13px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-31xl: 50px;
  --padding-8xl: 27px;
  --padding-36xl: 55px;
  --padding-7xs: 6px;
  --padding-12xl: 31px;
  --padding-33xl: 52px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-139xl: 158px;
  --br-8xs: 5px;
  --br-10xs: 3px;
}
