<!DOCTYPE html>
<html>
  
  <body>
    <div class="librarian-page">
      <div class="wrapper-image-5">
        <img class="image-5-icon" alt="" src="./assets/images/log3o.png" />
      </div>
      <img
        class="librarian-page-child"
        alt=""
        src="./assets/images/log1o.png"
      />

      <div class="librarian-page-item"></div>
      <div class="librarian-page-inner"></div>
      <div class="rectangle-div"></div>
      <div class="librarian-page-child1"></div>
      <img
        class="image-6-icon"
        alt=""
        src="./assets/images/profile.png"
        id="image6"
      />

      <div class="la-rhaina-rabino-container" id="laRhainaRabino">
        <p class="la-rhaina-rabino">La Rhaina Rabino</p>
        <p class="p">2100804</p>
      </div>
      <img class="image-6-icon1" alt="" src="./assets/images/logo.png" />

      <div class="library-management-system">Library Management System</div>
      <div class="bad-blood">BAD BLOOD</div>
      <div class="john-carreyrou">John Carreyrou</div>
      <div class="john-carreyrou1">John Carreyrou</div>
      <div class="bad-blood1">BAD BLOOD</div>
      <div class="john-carreyrou2">John Carreyrou</div>
      <img class="image-7-icon" alt="" src="./public/image-7@2x.png" />

      <img class="image-6-icon2" alt="" src="./public/image-6@2x.png" />

      <div class="home">Home</div>
      <div class="account-management" id="accountManagementText">
        Account Management
      </div>
      <div class="lost-and-damage" id="lostAndDamage">Lost and Damage</div>
      <div class="transaction" id="transactionText">Transaction</div>
      <div class="about" id="aboutText">About</div>
      <div class="logout" id="logoutText">Logout</div>
      <div class="librarian-page-child2" id="rectangle5"></div>
      <div class="registered-account">
        <p class="registered">REGISTERED</p>
        <p class="account">ACCOUNT</p>
      </div>
      <div class="librarian-page-child3" id="rectangle6"></div>
      <div class="total-list-of-container">
        <p class="total-list">TOTAL LIST</p>
        <p class="of-books">OF BOOKS</p>
      </div>
      <div class="librarian-page-child4" id="rectangle7"></div>
      <div class="available-books">
        <p class="available">AVAILABLE</p>
        <p class="books">BOOKS</p>
      </div>
      <div class="librarian-page-child5" id="rectangle8"></div>
      <div class="total-issued-books-container">
        <p class="total-issued">TOTAL ISSUED</p>
        <p class="books1">BOOKS</p>
      </div>
      <div class="librarian-page-child6" id="rectangle9"></div>
      <div class="total-returned-books-container">
        <p class="total">TOTAL</p>
        <p class="returned">RETURNED</p>
        <p class="books2">BOOKS</p>
      </div>
      <div class="librarian-page-child7" id="rectangle10"></div>
      <div class="not-returned-books">
        <p class="not-returned">NOT-RETURNED</p>
        <p class="books3">BOOKS</p>
      </div>
      <div class="line-div"></div>
    </div>

    <script>
      var image6 = document.getElementById("image6");
      if (image6) {
        image6.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var laRhainaRabino = document.getElementById("laRhainaRabino");
      if (laRhainaRabino) {
        laRhainaRabino.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var accountManagementText = document.getElementById("accountManagementText");
      if (accountManagementText) {
        accountManagementText.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var lostAndDamage = document.getElementById("lostAndDamage");
      if (lostAndDamage) {
        lostAndDamage.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var transactionText = document.getElementById("transactionText");
      if (transactionText) {
        transactionText.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var aboutText = document.getElementById("aboutText");
      if (aboutText) {
        aboutText.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var logoutText = document.getElementById("logoutText");
      if (logoutText) {
        logoutText.addEventListener("click", function (e) {
          // Please sync "Login page" to the project
        });
      }
      
      var rectangle5 = document.getElementById("rectangle5");
      if (rectangle5) {
        rectangle5.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var rectangle6 = document.getElementById("rectangle6");
      if (rectangle6) {
        rectangle6.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var rectangle7 = document.getElementById("rectangle7");
      if (rectangle7) {
        rectangle7.addEventListener("click", function (e) {
          // Please sync "Librararian page" to the project
        });
      }
      
      var rectangle8 = document.getElementById("rectangle8");
      if (rectangle8) {
        rectangle8.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var rectangle9 = document.getElementById("rectangle9");
      if (rectangle9) {
        rectangle9.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      
      var rectangle10 = document.getElementById("rectangle10");
      if (rectangle10) {
        rectangle10.addEventListener("click", function (e) {
          // Please sync "Librarian page" to the project
        });
      }
      </script>
  </body>
</html>
