.image-5-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.parent-node {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  cursor: pointer;
  z-index: 1;
}
.child-nodes-child {
  height: 181px;
  width: 83px;
  position: relative;
  background-color: var(--color-cornflowerblue-100);
  display: none;
}
.image-38-icon {
  height: 68px;
  width: 34px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.child-nodes,
.sibling-nodes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.child-nodes {
  background-color: var(--color-cornflowerblue-100);
  flex-direction: row;
  padding: var(--padding-37xl) var(--padding-6xl) var(--padding-38xl)
    var(--padding-5xl);
  z-index: 2;
}
.sibling-nodes {
  flex-direction: column;
  padding: 0 var(--padding-3xl) 0 0;
}
.image-4-icon {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.174);
}
.wrapper-image-4 {
  width: 115px;
  height: 115px;
  position: relative;
  border-radius: var(--br-139xl);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.isolated-node {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-18xl) 0 0;
}
.library-management-system {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
}
.branch-node,
.descendant-nodes,
.leaf-node {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.descendant-nodes {
  flex-direction: column;
  padding: var(--padding-46xl) 0 0;
  box-sizing: border-box;
}
.branch-node,
.leaf-node {
  flex-direction: row;
}
.leaf-node {
  flex: 1;
  position: relative;
  gap: var(--gap-27xl);
}
.branch-node {
  align-self: stretch;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.acount-management {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.unrooted-tree-child {
  height: 53px;
  width: 224px;
  position: relative;
  background-color: var(--color-darkslateblue);
  display: none;
}
.librarian {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.unrooted-tree {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-43xl) var(--padding-lgi)
    var(--padding-38xl);
  background-color: var(--color-darkslateblue);
  height: 53px;
  flex: 0.6522;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.unrooted-tree:hover {
  background-color: var(--color-steelblue-200);
}
.unrooted-tree-item {
  height: 53px;
  width: 224px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
}
.borrower {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.unrooted-tree1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-37xl) var(--padding-lgi)
    var(--padding-44xl);
  background-color: var(--color-darkslategray);
  height: 53px;
  flex: 0.6522;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.unrooted-tree1:hover {
  background-color: var(--color-steelblue-100);
}
.unrooted-tree-inner {
  height: 53px;
  width: 224px;
  position: relative;
  background-color: var(--color-darkslateblue);
  display: none;
}
.librarian-aide {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.unrooted-tree2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-9xl) var(--padding-lgi)
    var(--padding-16xl);
  background-color: var(--color-darkslateblue);
  height: 53px;
  flex: 1;
  flex-direction: row;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.unrooted-tree2:hover {
  background-color: var(--color-steelblue-200);
}
.rooted-tree,
.subtree-nodes,
.unrooted-tree2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rooted-tree {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.subtree-nodes {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.binary-search-tree-child {
  height: 53px;
  width: 430px;
  position: relative;
  display: none;
  max-width: 100%;
}
.search {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.a-v-l-tree {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.material-symbols-lightsearch-icon {
  height: 34px;
  width: 37px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 34px;
  z-index: 2;
}
.binary-search-tree {
  width: 430px;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-4xs) var(--padding-3xs) 23px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.ancestors-and-descendants,
.disconnected-nodes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.disconnected-nodes {
  align-self: stretch;
  flex-direction: row;
  gap: 171px;
  font-size: var(--font-size-6xl);
  color: var(--color-darkgray);
}
.ancestors-and-descendants {
  width: 1323px;
  flex-direction: column;
  gap: var(--gap-9xl);
}
.siblings-and-children {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 52px 0 var(--padding-46xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.name {
  height: 29px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.adjacency-list {
  width: 93px;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.adjacency-list,
.adjacency-matrix,
.adjacency-matrix-child,
.weighted-graph {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.adjacency-matrix-child {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-aliceblue);
  align-self: stretch;
  height: 37px;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-lg);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 216px;
  z-index: 1;
}
.adjacency-matrix,
.weighted-graph {
  max-width: 100%;
}
.adjacency-matrix {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.weighted-graph {
  width: 366px;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.id-number {
  position: absolute;
  top: 0;
  left: 74px;
  font-weight: 500;
  display: inline-block;
  width: 223px;
  height: 39px;
  z-index: 1;
}
.directed-graph {
  position: absolute;
  top: 0;
  left: 60px;
  background-color: var(--color-aliceblue);
  width: 360px;
  height: 36px;
  z-index: 2;
}
.undirected-graph {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 0;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0;
  z-index: 3;
}
.edge-nodes {
  position: absolute;
  top: 29px;
  left: 14px;
  width: 420px;
  height: 36px;
}
.circular-linked-list {
  align-self: stretch;
  height: 65px;
  position: relative;
}
.frame-child,
.password {
  position: absolute;
  top: 0;
  left: 74px;
}
.password {
  font-weight: 500;
  display: inline-block;
  width: 223px;
  height: 40px;
  z-index: 1;
}
.frame-child {
  background-color: var(--color-aliceblue);
  width: 360px;
  height: 38px;
  z-index: 2;
}
.div,
.rectangle-parent {
  position: absolute;
  left: 0;
}
.div {
  top: 7px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 297px;
  height: 24px;
  z-index: 3;
}
.rectangle-parent {
  top: 30px;
  width: 434px;
  height: 38px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.password-parent {
  align-self: stretch;
  height: 68px;
  position: relative;
}
.email {
  width: 223px;
  height: 40px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-item {
  height: 39px;
  width: 360px;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}
.div1 {
  width: 128px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 3;
}
.circular-linked-list1,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-6xs);
  z-index: 2;
  margin-top: -14px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.circular-linked-list1 {
  width: 380px;
  flex-direction: column;
  padding: 0 0 0 var(--padding-xl);
}
.contact {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.contact-wrapper {
  width: 252px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 45px;
  box-sizing: border-box;
}
.frame-inner {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 0;
  left: 45px;
  height: 38px;
  z-index: 1;
}
.div2 {
  position: absolute;
  top: 8px;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 24px;
  z-index: 2;
}
.rectangle-container {
  align-self: stretch;
  height: 38px;
  position: relative;
  text-align: center;
  font-size: var(--font-size-xl);
}
.frame-parent,
.linked-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 425px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 8px;
}
.linked-list {
  align-self: stretch;
  align-items: flex-end;
  gap: 14.75px;
}
.data-aggregator-child {
  height: 46px;
  width: 151px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue);
  display: none;
}
.add {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.data-aggregator {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-2xl);
  background-color: var(--color-dodgerblue);
  width: 151px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.data-aggregator:hover {
  background-color: #26a8ff;
}
.cancel {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.input-processor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.data-aggregator-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.queue,
.stack,
.stack-inner {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.stack-inner {
  width: 385px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 46px;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-dodgerblue);
}
.queue,
.stack {
  flex-direction: column;
}
.stack {
  align-self: stretch;
  align-items: flex-end;
  gap: 60px;
}
.queue {
  width: 434px;
  align-items: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 434px;
}
.sequence-controller {
  height: 52px;
  width: 146px;
  position: absolute;
  margin: 0 !important;
  right: -57.4px;
  bottom: -21.8px;
  background-color: var(--color-dimgray-300);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.name1 {
  width: 52px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.error-handler,
.variable-holder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-handler {
  align-self: stretch;
  height: 11.8px;
  flex-direction: row;
  position: relative;
}
.variable-holder {
  height: 22px;
  width: 86px;
  flex-direction: column;
  padding: 0 var(--padding-23xl) 0 0;
  box-sizing: border-box;
}
.data-merger {
  height: 52px;
  width: 145px;
  position: absolute;
  margin: 0 !important;
  top: -20.4px;
  right: -33.9px;
  background-color: var(--color-dimgray-300);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.id-number1 {
  width: 106px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.data-filter,
.data-transformer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-transformer {
  align-self: stretch;
  height: 11.8px;
  flex-direction: row;
  position: relative;
}
.data-filter {
  height: 24px;
  width: 106px;
  flex-direction: column;
  padding: var(--padding-11xs) var(--padding-5xl) 0 0;
  box-sizing: border-box;
}
.data-creator {
  height: 52px;
  width: 146px;
  position: absolute;
  margin: 0 !important;
  bottom: -21.8px;
  left: -36px;
  background-color: var(--color-dimgray-300);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 3;
}
.password1 {
  position: relative;
  white-space: nowrap;
  z-index: 4;
}
.data-finder,
.data-sorter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-finder {
  align-self: stretch;
  height: 11.8px;
  flex-direction: row;
  position: relative;
}
.data-sorter {
  height: 23px;
  width: 114px;
  flex-direction: column;
  padding: 0 39px 0 0;
  box-sizing: border-box;
}
.rectangle-div {
  height: 52px;
  width: 146px;
  position: absolute;
  margin: 0 !important;
  right: -56.6px;
  bottom: -21.8px;
  background-color: var(--color-dimgray-300);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 2;
}
.email1 {
  width: 52px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.frame-div,
.variable-holder1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  align-self: stretch;
  height: 12.5px;
  flex-direction: row;
  position: relative;
}
.variable-holder1 {
  height: 22px;
  width: 99px;
  flex-direction: column;
  padding: 0 58px 0 0;
  box-sizing: border-box;
}
.frame-child1 {
  height: 52px;
  width: 146px;
  position: absolute;
  margin: 0 !important;
  bottom: -21.8px;
  left: -46.8px;
  background-color: var(--color-dimgray-300);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.contact1 {
  width: 77px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.rectangle-parent1,
.variable-holder2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  align-self: stretch;
  height: 12px;
  flex-direction: row;
  position: relative;
}
.variable-holder2 {
  height: 22px;
  width: 93px;
  flex-direction: column;
  padding: 0 var(--padding-12xl) 0 0;
  box-sizing: border-box;
}
.data-protector {
  height: 52px;
  width: 146px;
  position: absolute;
  margin: 0 !important;
  right: -48.3px;
  bottom: -21.8px;
  background-color: var(--color-dimgray-300);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.actions {
  width: 77px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.condition-checker,
.data-deleter,
.function-caller {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.data-deleter {
  height: 12.5px;
  width: 59.3px;
  justify-content: flex-start;
  position: relative;
}
.condition-checker,
.function-caller {
  box-sizing: border-box;
  max-width: 100%;
}
.function-caller {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-lg) 0 0;
  gap: var(--gap-xl);
}
.condition-checker {
  width: 826px;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.loop-control,
.loop-control1,
.loop-control2,
.loop-control3,
.loop-control4 {
  width: 45px;
  height: 26px;
  position: absolute;
  margin: 0 !important;
  right: 17px;
  border-radius: var(--br-10xs);
  background-color: var(--color-red);
}
.loop-control {
  top: 234px;
  z-index: 2;
}
.loop-control1,
.loop-control2,
.loop-control3,
.loop-control4 {
  bottom: 224px;
  z-index: 1;
}
.loop-control2,
.loop-control3,
.loop-control4 {
  bottom: 164px;
  z-index: 2;
}
.loop-control3,
.loop-control4 {
  bottom: 103px;
  z-index: 1;
}
.loop-control4 {
  right: 19px;
  bottom: 49px;
  z-index: 2;
}
.la-rhaine-rabino {
  width: 128px;
  height: 23px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.data-linker {
  height: 24px;
  width: 189px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.data-storage {
  align-self: stretch;
  height: 22px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.data-visualizer {
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  margin-left: -101px;
}
.data-compressor,
.data-encoder {
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-compressor {
  flex: 1;
  z-index: 3;
}
.data-encoder {
  align-self: stretch;
  flex-shrink: 0;
  z-index: 4;
}
.data-expander,
.data-retriever {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.data-expander {
  width: 128px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  margin-left: -70px;
}
.data-retriever {
  flex: 1;
  flex-direction: row;
  padding: 0 101px 0 0;
  max-width: 100%;
  margin-left: -101px;
}
.data-decryptor {
  width: 152px;
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}
.data-encryptor,
.data-encryptor1 {
  width: 45px;
  height: 26px;
  position: absolute;
  margin: 0 !important;
  top: -3px;
  right: 66px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 1;
}
.data-encryptor1 {
  right: 5px;
  background-color: var(--color-red);
}
.data-decoder {
  width: 281px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin-left: -101px;
}
.delete,
.edit {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.data-verifier {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.data-sender,
.data-validator {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.data-validator {
  width: 94px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
  margin-left: -101px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.data-sender {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-12xs);
  max-width: 100%;
}
.la-rhaine-rabino1 {
  width: 128px;
  height: 23px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.data-backup {
  width: 189px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div3 {
  align-self: stretch;
  height: 22px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 3;
}
.data-backup1 {
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  margin-left: -101px;
}
.data-stack {
  border: 0;
  outline: 0;
  background-color: var(--color-lightgray);
  height: 56px;
  width: 875px;
  position: absolute;
  margin: 0 !important;
  top: -22.3px;
  right: -461.3px;
  z-index: 1;
}
.data-heap {
  height: 24px;
  width: 297px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 4;
}
.data-heap,
.data-queue,
.data-stream {
  position: relative;
  display: flex;
}
.data-queue {
  height: 12.2px;
  width: 76.5px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-stream {
  align-self: stretch;
  height: 24px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}
.data-pool,
.data-sync,
.data-transfer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-pool {
  width: 128px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  margin-left: -70px;
}
.data-sync,
.data-transfer {
  max-width: 100%;
}
.data-sync {
  width: 355px;
  flex-direction: row;
}
.data-transfer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  margin-left: -101px;
}
.div4 {
  width: 152px;
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 6;
}
.data-matrix,
.data-matrix1 {
  width: 45px;
  height: 26px;
  position: absolute;
  margin: 0 !important;
  right: 66px;
  bottom: -2px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 2;
}
.data-matrix1 {
  right: 5px;
  background-color: var(--color-red);
}
.data-frame {
  width: 281px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  position: relative;
  margin-left: -101px;
}
.delete1,
.edit1 {
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.edit-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.data-security,
.data-security-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.data-security-inner {
  width: 94px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  margin-left: -101px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.data-security {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  max-width: 100%;
}
.la-rhaine-rabino2 {
  width: 128px;
  height: 23px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.la-rhaine-rabino-wrapper {
  height: 25px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.div5 {
  align-self: stretch;
  height: 22px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.wrapper {
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  margin-left: -101px;
}
.div6,
.div7 {
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div6 {
  flex: 1;
  z-index: 3;
}
.div7 {
  width: 128px;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -70px;
}
.parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 102px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -101px;
}
.div8 {
  width: 152px;
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child2,
.frame-child3 {
  width: 45px;
  height: 26px;
  position: absolute;
  margin: 0 !important;
  right: 66px;
  bottom: 0.67px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 1;
}
.frame-child3 {
  right: 5px;
  background-color: var(--color-red);
}
.group {
  align-self: stretch;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  margin-left: -101px;
}
.delete2,
.edit2 {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.edit-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-group,
.frame-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-wrapper {
  width: 94px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
  margin-left: -101px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.frame-group {
  align-self: stretch;
  height: 28px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  max-width: 100%;
}
.div9,
.la-rhaine-rabino3 {
  height: 23px;
  width: 128px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.div9 {
  width: 234px;
  height: 22px;
  z-index: 3;
}
.container,
.la-rhaine-rabino-parent {
  display: flex;
  justify-content: flex-start;
}
.container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.la-rhaine-rabino-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
}
.div10,
.la-rhaine-rabino4 {
  height: 23px;
  width: 128px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.div10 {
  width: 234px;
  height: 22px;
  z-index: 2;
}
.frame {
  flex: 1;
  flex-direction: column;
  padding: 0;
}
.frame,
.frame-parent2,
.frame-wrapper2,
.la-rhaine-rabino-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.la-rhaine-rabino-group {
  flex: 1;
  flex-direction: row;
}
.frame-parent2,
.frame-wrapper2 {
  align-self: stretch;
}
.frame-wrapper2 {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.frame-parent2 {
  flex-direction: column;
  gap: var(--gap-19xl);
}
.la-rhaine-rabino5 {
  height: 23px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.la-rhaine-rabino-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.la-rhaine-rabino6,
.la-rhaine-rabino7 {
  align-self: stretch;
  height: 23px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.la-rhaine-rabino7 {
  z-index: 2;
}
.frame-parent4,
.la-rhaine-rabino-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.la-rhaine-rabino-parent1 {
  align-self: stretch;
  gap: var(--gap-15xl);
}
.frame-parent4 {
  width: 129px;
  gap: 40px;
}
.div11 {
  height: 22px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.div12,
.div13,
.wrapper1 {
  align-self: stretch;
  display: flex;
}
.wrapper1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
}
.div12,
.div13 {
  height: 22px;
  position: relative;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.div13 {
  z-index: 3;
}
.frame-parent5 {
  flex: 1;
  flex-direction: column;
  gap: 39px;
  margin-left: -43px;
}
.frame-parent1,
.frame-parent3,
.frame-parent5,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: row;
}
.frame-parent1,
.frame-wrapper1 {
  flex-direction: column;
}
.frame-parent1 {
  align-self: stretch;
  gap: var(--gap-15xl);
}
.frame-wrapper1 {
  width: 323px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-input {
  border: 0;
  outline: 0;
  background-color: var(--color-lightgray);
  height: 56px;
  width: 875px;
  position: absolute;
  margin: 0 !important;
  right: -461.3px;
  bottom: -23.5px;
  z-index: 1;
}
.div14 {
  height: 24px;
  width: 297px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 4;
}
.div14,
.div15,
.rectangle-parent2 {
  position: relative;
  display: flex;
}
.rectangle-parent2 {
  width: 76.5px;
  height: 12.2px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div15 {
  align-self: stretch;
  height: 24px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 3;
}
.frame-child4 {
  border: 0;
  outline: 0;
  background-color: var(--color-lightgray);
  height: 56px;
  width: 875px;
  position: absolute;
  margin: 0 !important;
  right: -460.3px;
  bottom: -26.5px;
  z-index: 1;
}
.div16,
.rectangle-parent3 {
  display: flex;
  position: relative;
}
.div16 {
  height: 24px;
  width: 297px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 4;
}
.rectangle-parent3 {
  width: 76.5px;
  height: 12.2px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.condition-splitter {
  height: 24px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.data-aggregator1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frame-child5 {
  border: 0;
  outline: 0;
  background-color: var(--color-lightgray);
  height: 56px;
  width: 875px;
  position: absolute;
  margin: 0 !important;
  top: -25.3px;
  right: -461.3px;
  z-index: 1;
}
.div17,
.rectangle-parent4 {
  display: flex;
  position: relative;
}
.div17 {
  height: 24px;
  width: 297px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 4;
}
.rectangle-parent4 {
  width: 76.5px;
  height: 12.2px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent8 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-15xl);
}
.frame-parent7,
.frame-parent8,
.parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent1 {
  align-self: stretch;
  height: 203px;
  gap: var(--gap-14xl);
}
.frame-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  height: 264px;
  gap: var(--gap-18xl);
}
.date-handler {
  align-self: stretch;
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}
.number-formatter {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.image-processor {
  height: 24px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.loop-controller,
.text-parser {
  align-self: stretch;
  display: flex;
}
.text-parser {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.loop-controller {
  height: 24px;
  position: relative;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 4;
}
.function-caller1 {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.variable-holder3 {
  height: 24px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.if-statement,
.list-creator {
  align-self: stretch;
  display: flex;
}
.list-creator {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.if-statement {
  height: 24px;
  position: relative;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}
.error-handler1 {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.else-statement {
  height: 24px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.output-processor {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.for-loop,
.try-block {
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.for-loop {
  width: 128px;
  z-index: 4;
}
.try-block {
  align-self: stretch;
  z-index: 1;
}
.input-collector,
.switch-case,
.while-loop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.switch-case {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.input-collector,
.while-loop {
  align-self: stretch;
}
.while-loop {
  flex-direction: row;
  gap: var(--gap-12xs);
}
.input-collector {
  flex-direction: column;
  gap: 29px;
}
.finally-block,
.finally-block1 {
  height: 24px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finally-block {
  width: 128px;
  flex-shrink: 0;
  z-index: 5;
}
.finally-block1 {
  flex: 1;
  z-index: 6;
}
.catch-block,
.value-filter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.catch-block {
  align-self: stretch;
  flex-direction: row;
}
.value-filter {
  position: absolute;
  top: 0;
  left: 227px;
  width: 281px;
  flex-direction: column;
  gap: 34.333333333333336px;
}
.assignment-operator {
  height: 26px;
  width: 45px;
  position: absolute;
  margin: 0 !important;
  top: -8.2px;
  right: -11.5px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 2;
}
.edit3 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 3;
}
.return-statement {
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.delete3 {
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.variable-declaration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.frame-child6 {
  height: 26px;
  width: 45px;
  position: absolute;
  margin: 0 !important;
  top: -8.2px;
  right: -11.5px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 1;
}
.edit4 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent5 {
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.delete4 {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.variable-declaration1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.frame-child7 {
  height: 26px;
  width: 45px;
  position: absolute;
  margin: 0 !important;
  top: -8.2px;
  right: -11.5px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 2;
}
.edit5 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 3;
}
.rectangle-parent6 {
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.delete5 {
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.variable-declaration2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.object-operator {
  height: 26px;
  width: 45px;
  position: absolute;
  margin: 0 !important;
  top: -8.2px;
  right: -11.5px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 1;
}
.edit6 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 2;
}
.array-operator {
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.delete6 {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.string-operator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.frame-child8 {
  height: 26px;
  width: 45px;
  position: absolute;
  margin: 0 !important;
  top: -8.2px;
  right: -11.5px;
  border-radius: var(--br-10xs);
  background-color: var(--color-orange);
  z-index: 2;
}
.edit7 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 3;
}
.rectangle-parent7 {
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.delete7 {
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.arithmetic-operator,
.function-definition,
.string-operator1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.string-operator1 {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-7xl);
}
.arithmetic-operator,
.function-definition {
  flex-direction: column;
}
.arithmetic-operator {
  align-self: stretch;
  gap: var(--gap-19xl);
}
.function-definition {
  position: absolute;
  top: 6px;
  left: 535px;
  width: 94px;
  gap: 44.333333333333336px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.frame-parent6 {
  height: 264px;
  flex: 1;
  position: relative;
  max-width: 100%;
  margin-left: -101px;
}
.data-receiver,
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-receiver {
  flex-direction: column;
  align-items: flex-end;
  gap: 25.333333333333332px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.tree-structure-child {
  width: 875px;
  height: 544px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 7;
}
.hash-table,
.librarian-page,
.tree-structure {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.tree-structure {
  flex: 1;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-mid) var(--padding-lgi) 47px var(--padding-7xs);
  position: relative;
  gap: var(--gap-14xl);
  min-width: 569px;
  max-width: 100%;
  z-index: 7;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.hash-table,
.librarian-page {
  align-items: flex-start;
}
.hash-table {
  width: 1427px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: 97px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.librarian-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 78px;
  gap: var(--gap-17xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .rooted-tree {
    display: none;
  }
  .disconnected-nodes {
    gap: 171px 85px;
  }
  .function-caller,
  .queue {
    flex: 1;
  }
  .hash-table {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .leaf-node {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .library-management-system {
    font-size: var(--font-size-19xl);
  }
  .leaf-node {
    gap: 46px 23px;
  }
  .acount-management {
    font-size: var(--font-size-7xl);
  }
  .disconnected-nodes {
    gap: 171px 43px;
  }
  .siblings-and-children {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .queue {
    min-width: 100%;
  }
  .function-caller {
    flex-wrap: wrap;
  }
  .tree-structure {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .hash-table {
    gap: 97px 48px;
  }
  .librarian-page {
    gap: 18px 36px;
  }
}
@media screen and (max-width: 450px) {
  .library-management-system {
    font-size: var(--font-size-10xl);
  }
  .acount-management,
  .borrower {
    font-size: var(--font-size-lgi);
  }
  .disconnected-nodes {
    gap: 171px 21px;
  }
  .div,
  .div1,
  .undirected-graph {
    font-size: var(--font-size-base);
  }
  .contact-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div2 {
    font-size: var(--font-size-base);
  }
  .add,
  .cancel {
    font-size: var(--font-size-lgi);
  }
  .stack-inner {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .stack {
    gap: 30px 60px;
  }
  .data-retriever,
  .parent {
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .parent {
    padding-right: var(--padding-32xl);
  }
  .frame-parent2 {
    gap: 19px 38px;
  }
  .frame-parent1 {
    gap: 17px 34px;
  }
  .tree-structure {
    gap: 16px 33px;
  }
  .hash-table {
    gap: 97px 24px;
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-17xl: 36px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #878787;
  --color-gray-200: #7a7a7a;
  --color-gray-300: #787878;
  --color-orange: #feb729;
  --color-black: #000;
  --color-lightgray: #d1d1d1;
  --color-red: #fe2929;
  --color-dimgray-100: #6e6e6e;
  --color-dimgray-200: #545454;
  --color-dimgray-300: #505050;
  --color-dodgerblue: #0081de;
  --color-cornflowerblue-100: #39acff;
  --color-aliceblue: #dfe9f0;
  --color-gainsboro: #d9d9d9;
  --color-darkgray: #979797;
  --color-darkslateblue: #00275e;
  --color-steelblue-100: #477394;
  --color-steelblue-200: #335991;
  --color-steelblue-300: #19547e;
  --color-darkslategray: #204c6e;
  --color-skyblue: #8dbcde;

  /* Gaps */
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-14xl: 33px;
  --gap-19xl: 38px;
  --gap-7xl: 26px;
  --gap-xl: 20px;
  --gap-12xs: 1px;
  --gap-18xl: 37px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-9xl: 28px;
  --gap-6xl: 25px;
  --gap-27xl: 46px;
  --gap-16xl: 35px;
  --gap-33xl: 52px;
  --gap-lgi: 19px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-mid: 17px;
  --padding-lgi: 19px;
  --padding-7xs: 6px;
  --padding-12xl: 31px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-32xl: 51px;
  --padding-5xs: 8px;
  --padding-31xl: 50px;
  --padding-smi: 13px;
  --padding-lg: 18px;
  --padding-5xl: 24px;
  --padding-23xl: 42px;
  --padding-2xs: 11px;
  --padding-2xl: 21px;
  --padding-3xs: 10px;
  --padding-6xs: 7px;
  --padding-46xl: 65px;
  --padding-13xl: 32px;
  --padding-7xl: 26px;
  --padding-4xs: 9px;
  --padding-sm: 14px;
  --padding-9xl: 28px;
  --padding-16xl: 35px;
  --padding-37xl: 56px;
  --padding-44xl: 63px;
  --padding-43xl: 62px;
  --padding-38xl: 57px;
  --padding-18xl: 37px;
  --padding-3xl: 22px;
  --padding-6xl: 25px;
  --padding-14xl: 33px;
  --padding-mini: 15px;
  --padding-11xl: 30px;
  --padding-21xl: 40px;
  --padding-24xl: 43px;
  --padding-17xl: 36px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-8xl: 27px;
  --padding-36xl: 55px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-3xs: 10px;
  --br-139xl: 158px;
  --br-8xs: 5px;
}
