<!DOCTYPE html>
<html>
  
  <body>
    <div class="borrower-page">
      <div class="wrapper-image-5">
        <img class="image-5-icon" alt="" src="./public/image-5@2x.png" />
      </div>
      <img class="image-4-icon" alt="" src="./assets/images/logo.png" />

      <div class="library-management-system">Library Management System</div>
      <div class="borrower-page-child"></div>
      <div class="borrower-page-item"></div>
      <div class="borrower-page-inner"></div>
      <div class="image-36"></div>
      <div class="main-frame">
        <div class="main-frame-inner">
          <div class="book-info-frame-parent">
            <div class="book-info-frame"></div>
            
            
          </div>
        </div>
        <header class="add-remove-frames">
          <div class="top-level-frame" id="topLevelFrame"></div>
          <div class="wrapper-image-38">
            <img
              class="image-38-icon"
              loading="lazy"
              alt=""
              src="./assets/images/logo.png"
            />
          </div>
          <div class="book-details-frame">
            <h1 class="library-management-system1">
              Library Management System
            </h1>
          </div>
        </header>
      </div>
      <main class="cancel-frame">
        <div class="multi-rectangles">
          <div class="status-frames">
            <h2 class="lost-and-damage">Lost and Damage</h2>
            <div class="name-i-d-frame">
              <div class="date-frame">
                <div class="name">Name :</div>
                <div class="id-number">ID Number :</div>
                <div class="i-s-b-n-frame">
                  <div class="number-of-copies-frame">
                    <div class="date">Date :</div>
                  </div>
                  <div class="frame-add-cancel">
                    <div class="paid-frames">
                      <div class="book-name">Book Name :</div>
                    </div>
                    <div class="andy-java-damage-label">
                      <div class="isbn">ISBN :</div>
                      <div class="rectangles-stack">
                        <div class="numbers-of-books">Numbers of Books :</div>
                        <div class="to-be-paid-frame">
                          <div class="reason">Reason :</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="add-remove-button-frames">
            <button class="frame-with-two-children">
              <div class="frame-with-two-children-child"></div>
              <div class="add">Add</div>
            </button>
            <button class="frame-with-two-children1">
              <div class="frame-with-two-children-item" id="rectangle"></div>
              <div class="cancel">Cancel</div>
            </button>
          </div>
          <div class="multiple-rectangles">
            <div class="paid-books-frame-layout"></div>
            <div class="to-be-paid-frame-layout"></div>
            <div class="multiple-rectangles-child"></div>
            <div class="multiple-rectangles-item"></div>
            <div class="multiple-rectangles-inner"></div>
            <div class="rectangle-div"></div>
            <div class="multiple-rectangles-child1"></div>
            <div class="multiple-rectangles-child2"></div>
          </div>
        </div>
        <section class="frames-with-lines">
          <div class="frames-with-lines-child"></div>
          <div class="paid-books-frame-content">
            <button class="to-be-paid-frame-content">
              <div class="to-be-paid-frame-content-child"></div>
              <div class="paid-books">Paid Books</div>
            </button>
            <button class="to-be-paid-frame-content1">
              <div class="to-be-paid-frame-content-item" id="rectangle"></div>
              <div class="to-be-paid">To be Paid</div>
            </button>
          </div>
          <div class="name-i-d-book-info-layout">
            <div class="frame-with-several-children">
              <button class="name-i-d-book-info-display">
                <div class="name-i-d-book-info-display-child"></div>
                <div class="name1">Name</div>
              </button>
              <button class="name-i-d-book-info-display1">
                <div class="name-i-d-book-info-display-item"></div>
                <div class="id-number1">ID Number</div>
              </button>
              <button class="name-i-d-book-info-display2">
                <div class="name-i-d-book-info-display-inner"></div>
                <div class="book-name1">Book Name</div>
              </button>
              <button class="name-i-d-book-info-display3">
                <div class="name-i-d-book-info-display-child1"></div>
                <div class="no">No.</div>
              </button>
              <button class="name-i-d-book-info-display4">
                <div class="name-i-d-book-info-display-child2"></div>
                <div class="reason1">Reason</div>
              </button>
              <button class="name-i-d-book-info-display5">
                <div class="name-i-d-book-info-display-child3"></div>
                <div class="isdn">ISDN</div>
              </button>
              <button class="name-i-d-book-info-display6">
                <div class="name-i-d-book-info-display-child4"></div>
                <div class="date1">Date</div>
              </button>
              <div class="interaction-buttons-set">
                <div class="interaction-buttons-set-child"></div>
                <div class="to-be-paid-frame1">
                  <div class="andy">Andy</div>
                  <div class="name-i-d">295340</div>
                  <div class="name-i-d1">05/23/2023</div>
                  <div class="book-info-frame1">
                    <div class="reason-field">356272</div>
                  </div>
                  <div class="java">Java</div>
                  <div class="name-i-d2">3</div>
                  <div class="damage">Damage</div>
                </div>
                <div class="root-frame-content">
                  <div class="damage-frame"></div>
                </div>
                <div class="root-frame-content1">
                  <img
                    class="root-frame-content-child"
                    loading="lazy"
                    alt=""
                    src="./public/rectangle-35.svg"
                  />
                </div>
                <div class="root-frame-content2">
                  <img
                    class="root-frame-content-item"
                    loading="lazy"
                    alt=""
                    src="./public/rectangle-35.svg"
                  />
                </div>
                <div class="root-frame-content3">
                  <img
                    class="root-frame-content-inner"
                    loading="lazy"
                    alt=""
                    src="./public/rectangle-35.svg"
                  />
                </div>
                <div class="root-frame-content4">
                  <img
                    class="rectangle-icon"
                    loading="lazy"
                    alt=""
                    src="./public/rectangle-35.svg"
                  />
                </div>
                <div class="line-separator"></div>
                <img
                  class="interaction-buttons-set-item"
                  loading="lazy"
                  alt=""
                  src="./public/rectangle-40.svg"
                />
              </div>
              <div class="i-s-d-n-frame"></div>
            </div>
          </div>
          <div class="frames-with-text"></div>
          <div class="frames-with-text1"></div>
          <div class="frames-with-text2"></div>
          <div class="frames-with-text3"></div>
          <div class="frames-with-text4"></div>
        </section>
      </main>
    </div>

    <script>
      var topLevelFrame = document.getElementById("topLevelFrame");
      if (topLevelFrame) {
        topLevelFrame.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      </script>
  </body>
</html>
