<!DOCTYPE html>
<html>
  
  <body>
    <div class="borrower-page" id="borrowerPageContainer">
      <div class="wrapper-image-5">
        <img class="image-5-icon" alt="" src="./assets/images/logo.png" />
      </div>
      <main class="main-frame">
        <section class="inner-frame">
          <div class="about">About</div>
          <div class="contact-frame">
            <div class="phone-email-frame">
              <div class="library-system-label">
                <div class="line-separator">
                  <div class="library-management-system">
                    Library Management System
                  </div>
                </div>
                <div class="parent-frame"></div>
              </div>
              <div class="contuct-us-wrapper">
                <div class="contuct-us">Contuct Us</div>
              </div>
              <div class="phone-email-frame1">
                <div class="phone-email-label">
                  <div class="phone-639123123436">Phone: +639123123436</div>
                  <div class="email-itprofessionalitdepc">
                    Email: ITprofessionalit.dep.com
                  </div>
                  <div class="background-ellipse">
                    <div class="address-p-paterno-container">
                      <p class="address-p-paterno">
                        Address: P. Paterno St. Tacloban
                      </p>
                      <p class="city-6500">City 6500</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rounded-frame">
            <div class="rectangle-shape"></div>
            <div class="single-ellipse"></div>
            <div class="three-ellipses"></div>
            <div class="three-ellipses1"></div>
            <div class="three-ellipses2"></div>
            <div class="wrapper-image-6">
              <img
                class="image-6-icon"
                loading="lazy"
                alt=""
                src="./assets/images/logo.png"
              />
            </div>
          </div>
        </section>
      </main>
      <div class="go-back-frame">
        <div class="rectangle-container"></div>
        <div class="go-back-label">
          <div class="go-back">Go back</div>
        </div>
      </div>
    </div>

    <script>
      var borrowerPageContainer = document.getElementById("borrowerPageContainer");
      if (borrowerPageContainer) {
        borrowerPageContainer.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      </script>
  </body>
</html>
