<!DOCTYPE html>
<html>
  
  <body>
    <div class="librarian-dashboard">
      <img
        class="librarian-dashboard-child"
        alt=""
        src="./assets/images/l1ogo.png"
      />

      <div class="librarian-dashboard-item"></div>
      <div class="librarian-dashboard-inner"></div>
      <div class="librarian-dashboard-child1"></div>
      <img
        class="image-6-icon6"
        alt=""
        src="./assets/images/mypic.jpg"
        id="image6"
      />

      <div class="librarian-name" id="librarianNameText">Andy Regana</div>
      <div class="librariangmailcom" id="librariangmailcomText">
        <p class="p2">2100894</p>
        <p class="librariangmailcom1">librariangmail.com</p>
      </div>
      <img class="image-6-icon7" alt="" src="./assets/images/logo.png" />

      <div class="library-management-system9">Library Management System</div>
      <img class="image-7-icon2" alt="" src="./assets/images/l1ogo.png" />

      <img class="image-6-icon8" alt="" src="./assets/images/l1ogo.png" />

      <div class="logout2">Logout</div>
      <img
        class="majesticonslogout"
        alt=""
        src="./assets/images/logout.png"
      />

      <div class="s-books"></div>
      <img class="book-3-1" alt="" src="./assets/images/totallist.png" />

      <div class="more-book"></div>
      <div class="total-list-of">Total list of Books</div>
      <div class="more-info">More Info</div>
      <div class="s-users"></div>
      <div class="more-users"></div>
      <div class="more-info1">More Info</div>
      <div class="s-issued"></div>
      <div class="more-users1"></div>
      <div class="more-info2">More Info</div>
      <img class="vector-icon" alt="" src="./assets/images/l1ogo.png" />

      <img class="vector-icon1" alt="" src="./public/vector.svg" />

      <img class="vector-icon2" alt="" src="./public/vector.svg" />

      <img class="vector-icon3" alt="" src="./public/vector.svg" />

      <img class="vector-icon4" alt="" src="./public/vector.svg" />

      <img class="vector-icon5" alt="" src="./assets/images/logso.png" />

      <img class="vector-icon6" alt="" src="./assets/images/l1ogo.png" />

      <img class="vector-icon7" alt="" src="./assets/images/l1ogo.png" />

      <img class="vector-icon8" alt="" src="./public/vector.svg" />

      <img class="vector-icon9" alt="" src="./public/vector.svg" />

      <img class="vector-icon10" alt="" src="./public/vector.svg" />

      <img class="vector-icon11" alt="" src="./public/vector.svg" />

      <img class="vector-icon12" alt="" src="./public/vector.svg" />

      <img class="vector-icon13" alt="" src="./public/vector.svg" />

      <img class="vector-icon14" alt="" src="./public/vector.svg" />

      <img class="vector-icon15" alt="" src="./public/vector.svg" />

      <div class="available-books1">Available Books</div>
      <img
        class="not-returned-picture-icon"
        alt=""
        src="./public/notreturned-picture@2x.png"
      />

      <div class="librarian-dashboard-child2"></div>
      <div class="librarian-dashboard-child3"></div>
      <div class="librarian-dashboard-child4"></div>
      <b class="added-new-book">Added New Book</b>
      <div class="title-book-">Title Book - Author</div>
      <div class="price">Price</div>
      <div class="datetime">Date/Time</div>
      <b class="added-new-book1">Added New Book</b>
      <div class="title-book-1">Title Book - Author</div>
      <div class="price1">Price</div>
      <div class="datetime1">Date/Time</div>
      <b class="added-new-book2">Added New Book</b>
      <div class="title-book-2">Title Book - Author</div>
      <div class="price2">Price</div>
      <div class="datetime2">Date/Time</div>
      <div class="librarian-dashboard-child5"></div>
      <div class="librarian-dashboard-child6"></div>
      <b class="notification1">Notification</b>
      <b class="added-new-book3">Added New Book</b>
      <div class="title-book-3">Title Book - Author</div>
      <div class="price3">Price</div>
      <div class="datetime3">Date/Time</div>
      <b class="added-new-book4">Added New Book</b>
      <div class="title-book-4">Title Book - Author</div>
      <div class="price4">Price</div>
      <div class="datetime4">Date/Time</div>
      <b class="added-new-book5">Added New Book</b>
      <div class="title-book-5">Title Book - Author</div>
      <div class="price5">Price</div>
      <div class="datetime5">Date/Time</div>
      <img class="image-52-icon" alt="" src="./assets/images/borrow.png" />

      <div class="lost-and-damage2" id="lostAndDamage">Lost and Damage</div>
      <img class="image-53-icon" alt="" src="./assets/images/lost.png" />

      <img class="image-54-icon" alt="" src="./assets/images/lost and damage.png" />

      <div class="lost-and-damage3" id="lostAndDamage1">Lost and Damage</div>
      <img class="image-55-icon" alt="" src="./public/image-52@2x.png" />

      <div class="home2">Home</div>
      <div class="payment-transaction" id="paymentTransactionText">
        Payment Transaction
      </div>
      <div class="notification2" id="notificationText1">Notification</div>
      <img class="image-52-icon1" alt="" src="./assets/images/losgo.png" />

      <img class="image-53-icon1" alt="" src="./public/image-53@2x.png" />

      <div class="about3" id="aboutText">About</div>
      <img class="image-54-icon1" alt="" src="./public/image-54@2x.png" />

      <img class="image-55-icon1" alt="" src="./public/image-55@2x.png" />

      <img class="image-56-icon" alt="" src="./public/image-55@2x.png" />

      <img class="image-57-icon" alt="" src="./public/image-53@2x.png" />

      <img class="image-58-icon" alt="" src="./public/image-54@2x.png" />

      <div class="about4" id="aboutText1">About</div>
      <img class="image-59-icon" alt="" src="./public/image-52@2x.png" />

      <div class="return-list" id="returnListText">Return List</div>
      <img class="image-60-icon" alt="" src="./public/image-60@2x.png" />

      <img class="image-61-icon" alt="" src="./public/image-60@2x.png" />

      <div class="inventory" id="inventoryText">Inventory</div>
      <div class="borrow-list" id="borrowListText">Borrow List</div>
      <div class="return-list1" id="returnListText1">Return List</div>
      <img class="image-62-icon" alt="" src="./public/image-62@2x.png" />

      <img class="image-63-icon" alt="" src="./public/image-62@2x.png" />

      <div class="inventory1" id="inventoryText1">Inventory</div>
      <div class="borrow-list1" id="borrowListText1">Borrow List</div>
      <div class="notification3" id="notificationText2">Notification</div>
      <div class="payment-transaction1" id="paymentTransactionText1">
        Payment Transaction
      </div>
      <div class="home3">Home</div>
    </div>

    <script>
      var image6 = document.getElementById("image6");
      if (image6) {
        image6.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var librarianNameText = document.getElementById("librarianNameText");
      if (librarianNameText) {
        librarianNameText.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var librariangmailcomText = document.getElementById("librariangmailcomText");
      if (librariangmailcomText) {
        librariangmailcomText.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var lostAndDamage = document.getElementById("lostAndDamage");
      if (lostAndDamage) {
        lostAndDamage.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var lostAndDamage1 = document.getElementById("lostAndDamage1");
      if (lostAndDamage1) {
        lostAndDamage1.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var paymentTransactionText = document.getElementById("paymentTransactionText");
      if (paymentTransactionText) {
        paymentTransactionText.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var notificationText1 = document.getElementById("notificationText1");
      if (notificationText1) {
        notificationText1.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var aboutText = document.getElementById("aboutText");
      if (aboutText) {
        aboutText.addEventListener("click", function (e) {
          window.location.href = "./borrower-page1.html";
        });
      }
      
      var aboutText1 = document.getElementById("aboutText1");
      if (aboutText1) {
        aboutText1.addEventListener("click", function (e) {
          window.location.href = "./borrower-page1.html";
        });
      }
      
      var returnListText = document.getElementById("returnListText");
      if (returnListText) {
        returnListText.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var inventoryText = document.getElementById("inventoryText");
      if (inventoryText) {
        inventoryText.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var borrowListText = document.getElementById("borrowListText");
      if (borrowListText) {
        borrowListText.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var returnListText1 = document.getElementById("returnListText1");
      if (returnListText1) {
        returnListText1.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var inventoryText1 = document.getElementById("inventoryText1");
      if (inventoryText1) {
        inventoryText1.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var borrowListText1 = document.getElementById("borrowListText1");
      if (borrowListText1) {
        borrowListText1.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var notificationText2 = document.getElementById("notificationText2");
      if (notificationText2) {
        notificationText2.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      
      var paymentTransactionText1 = document.getElementById(
        "paymentTransactionText1"
      );
      if (paymentTransactionText1) {
        paymentTransactionText1.addEventListener("click", function (e) {
          // Please sync "Borrower page" to the project
        });
      }
      </script>
  </body>
</html>
