<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Doppio One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="librarian-page">
      <img class="image-5-icon1" alt="" src="./assets/images/logso.png" />

      <button class="cancel">Cancel</button>
      <div class="librarian-page-child" id="rectangle"></div>
      <img class="image-4-icon" alt="" src="./assets/images/logo.png" />

      <div class="library-management-system1">Library Management System</div>
      <div class="librarian-page-item"></div>
      <button class="add">Add</button>
      <div class="librarian-page-inner"></div>
      <div class="librarian-page-child1"></div>
      <div class="librarian-page-child2"></div>
      <div class="librarian-page-child3"></div>
      <div class="librarian-page-child4"></div>
      <div class="librarian-page-child5"></div>
      <div class="librarian-page-child6"></div>
      <div class="librarian-page-child7"></div>
      <div class="librarian-page-child8"></div>
      <b class="book-name">
        <p class="book-name1">Book Name</p>
      </b>
      <b class="author">
        <p class="book-name1">Author</p>
      </b>
      <b class="paublisher">Paublisher</b>
      <b class="price">Price</b>
      <b class="actions">Actions</b>
      <b class="inventory1">Inventory</b>
      <img class="rectangle-icon" alt="" src="./assets/rectangle-35.svg" />

      <div class="search">Search</div>
      <div class="librarian-page-child9"></div>
      <img class="image-38-icon" alt="" src="./assets/image-38@2x.png" />

      <img
        class="material-symbols-lightsearch-icon"
        alt=""
        src="./assets/materialsymbolslightsearch.svg"
      />

      <div class="book-name2">Book Name:</div>
      <div class="author2">Author:</div>
      <div class="publisher">Publisher:</div>
      <div class="price1">Price:</div>
      <div class="librarian-page-child10"></div>
      <div class="librarian-page-child11"></div>
      <div class="librarian-page-child12"></div>
      <div class="librarian-page-child13"></div>
      <div class="made-to-stick">Made to Stick</div>
      <div class="made-to-stick1">Made to Stick</div>
      <div class="made-to-stick2">Made to Stick</div>
      <div class="made-to-stick3">Made to Stick</div>
      <div class="made-to-stick4">Made to Stick</div>
      <div class="made-to-stick5">Made to Stick</div>
      <div class="made-to-stick6">Made to Stick</div>
      <div class="made-to-stick7">Made to Stick</div>
      <div class="made-to-stick8">Made to Stick</div>
      <div class="chip-heath-dan-container">
        <span class="chip-heath-dan-container1">
          <a
            class="chip-heath"
            href="https://www.google.com/search?sca_esv=a3fcac342a8f8158&sxsrf=ACQVn094kB0aBxHcy2kDS0jzKCYU9sao9w:1710311654995&q=Chip+Heath&si=AKbGX_qWtsfHufXsq_1jeDkJp50FstNngDxsch3EVTUjn7imcNb2_IN_KozdNdia4zlSwp_SqbLsvDlJQJngBAr_zNEM9MnW7J7jbo9FOOfci5tdihOPbsUQ61wi77P3GvkRI6KbR1U12e3U6DCktvv0pxcFen2bRxuoVZYKH2DodD_lvNlMhlkzqaKx-5ZyLC6IWrvm1yIlE-8KUG9z87VAwxAyFDm0nqcaKIYYeK6qKsgRycqtp6_8ypNKLAt2H-g4nHlnYaUT&sa=X&ved=2ahUKEwjmr5q1z_CEAxX0klYBHeq7AO4QmxMoAHoECGYQAg"
            target="_blank"
            >Chip Heath</a
          >
          <a
            class="chip-heath"
            href="https://www.google.com/search?sca_esv=a3fcac342a8f8158&sxsrf=ACQVn094kB0aBxHcy2kDS0jzKCYU9sao9w:1710311654995&q=Dan+Heath&si=AKbGX_qWtsfHufXsq_1jeDkJp50FstNngDxsch3EVTUjn7imcCFJt1UBnN39yOG3nLq3EgAYPvDfhfz4jw6t7bclAy81QaPp2fbj19-VtRQxTVQVkfxeuMW_pRfxdvkyNl7QOpxvKL_0zx1-TGFPHX9BSSwidXiqeP2Aq8sEHMV9gI-WuXcEpYUo7KbAcaJITzRReRC8sJVXYhAiGY2-2HUPMo5aEOigkTJmlc5kpKcRD3PsuLGgHhxkakdH7FPn6U1SuY4sBeaB&sa=X&ved=2ahUKEwjmr5q1z_CEAxX0klYBHeq7AO4QmxMoAXoECGYQAw"
            target="_blank"
            >Dan Heath</a
          >
        </span>
      </div>
      <div class="chip-heath-dan">Chip Heath, Dan Heath</div>
      <div class="chip-heath-dan1">Chip Heath, Dan Heath</div>
      <div class="chip-heath-dan2">Chip Heath, Dan Heath</div>
      <div class="chip-heath-dan3">Chip Heath, Dan Heath</div>
      <div class="chip-heath-dan4">Chip Heath, Dan Heath</div>
      <div class="chip-heath-dan5">Chip Heath, Dan Heath</div>
      <div class="chip-heath-dan6">Chip Heath, Dan Heath</div>
      <div class="chip-heath-dan7">Chip Heath, Dan Heath</div>
      <div class="random-house">Random House</div>
      <div class="random-house1">Random House</div>
      <div class="random-house2">Random House</div>
      <div class="random-house3">Random House</div>
      <div class="random-house4">Random House</div>
      <div class="random-house5">Random House</div>
      <div class="random-house6">Random House</div>
      <div class="random-house7">Random House</div>
      <div class="random-house8">Random House</div>
      <div class="div">₱819.48</div>
      <div class="div1">₱819.48</div>
      <div class="div2">₱819.48</div>
      <div class="div3">₱819.48</div>
      <div class="div4">₱819.48</div>
      <div class="div5">₱819.48</div>
      <div class="div6">₱819.48</div>
      <div class="div7">₱819.48</div>
      <div class="div8">₱819.48</div>
      <div class="librarian-page-child14"></div>
      <div class="edit">Edit</div>
      <div class="librarian-page-child15"></div>
      <div class="delete">Delete</div>
      <div class="librarian-page-child16"></div>
      <div class="edit1">Edit</div>
      <div class="librarian-page-child17"></div>
      <div class="delete1">Delete</div>
      <div class="librarian-page-child18"></div>
      <div class="edit2">Edit</div>
      <div class="librarian-page-child19"></div>
      <div class="delete2">Delete</div>
      <div class="librarian-page-child20"></div>
      <div class="edit3">Edit</div>
      <div class="librarian-page-child21"></div>
      <div class="delete3">Delete</div>
      <div class="librarian-page-child22"></div>
      <div class="edit4">Edit</div>
      <div class="librarian-page-child23"></div>
      <div class="delete4">Delete</div>
      <div class="librarian-page-child24"></div>
      <div class="edit5">Edit</div>
      <div class="librarian-page-child25"></div>
      <div class="delete5">Delete</div>
      <div class="librarian-page-child26"></div>
      <div class="edit6">Edit</div>
      <div class="librarian-page-child27"></div>
      <div class="delete6">Delete</div>
      <div class="librarian-page-child28"></div>
      <div class="edit7">Edit</div>
      <div class="librarian-page-child29"></div>
      <div class="delete7">Delete</div>
    </div>

    <script>
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          // Please sync "Librarian" to the project
        });
      }
    </script>
  </body>
</html>
